.navbar {
    height: 3rem;
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(128, 128, 128, 0.545);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 11;
}

.navlinks {
    width: 50%;
}

@media screen and (max-width: 500px) {
    .navlinks {
        width: 80%;
    }
}

